section{
	display: block;
	border: 1px dashed red;
	padding: 10px;
}
a{
	color: #FC062E;
	font-weight: bolder;
	text-decoration: none;
	padding: 10px;
	background-color: #FFAD55;
	font-size: 20px;
	box-shadow: 3px 3px #DD7E16;
	border-radius: 5px;
}
div{
	width:350px;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #ddd;
	position: relative;
}
ul{
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	width: 1000px;
	height: 100%;
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
	float: left;
	height: 60px;
	margin-right: 10px;
}