body{
	padding: 0 5em;
	margin: 0;
	background: #f1f1f1 url(../../images/bg/body.gif) repeat;
}
img{
	border: none;
}
.header, .footer{
	background-color: rgba(235,44,6,0.8);
	font-family: 'BebasNeueRegular';
	clear: both;
	background-color: rgb(235,44,6)\9;
	opacity: 0.8\9;
	zoom: 1;
}
.nav li{
	padding: 1.5em 0 1em 3em;
}
.menu .logo{
	float:left;
	width: 67px;
	height: 67px;
}
.menu .nav{
	padding-left: 0;
	margin-right: 0;
}
.main{
	font-size: 14px;
	margin: 2em 0;
}
.article{
	background-color: white;
	border-radius: .5em;
	padding: 1%;
	width: 68%;
	float: left;
	box-shadow: 1px 1px 10px #D6D3D3
}
.article .title{
	text-align: center;
}
.article .title p{
	padding-bottom: .5em;
	border-bottom: 1px solid #dcdcdc;
}
.aside{
	float: right;
	width: 30%;
}
.content p{
	line-height: 1.5em;
	text-indent: 2em;
}
.content .img_content{
	text-align: center;
	text-indent: 0;
}
.content img{
	max-width: 100%;
	_width: 100%;
}